{{> header}}
<div class="page search">
    <div class="body">
        {{#if loading}}
            Loading data, please wait...
        {{else}}
            <div id="container"><img src="" alt="No image..."><p id="kotStraat">Loading ...</p><p id="kotInfo"></p></div>
            <button id="dislikeBtn" type="button"><i class="fas fa-ban fa-3x"></i></button>
            <button id="likeBtn" type="button"><i class="far fa-smile fa-3x"></i></button>
        {{/if}}
    </div>
</div>