{{> header }}
<div class="page owner">
  <div class="body">
    <form id="login"  action="">
        <input type="text" name="signup_fname" id="signup_fname" placeholder="Voornaam" pattern="[A-Za-z]" minlength="2" maxlength="20" required>
        <input type="text" name="signup_name" id="signup_name" placeholder="Naam" pattern="[A-Za-z]" minlength="2" maxlength="40"  required>
        <input type="text" name="signup_address" id="signup_address" placeholder="Straat + nr" pattern="[A-Za-z][0-9]" minlength="2" maxlength="40"  required>
        <input type="tel" name="signup_phone" id="signup_phone" placeholder="Telefoon" pattern="[0-9]" minlength="2" maxlength="15" required>
        <select name="school" id="signup_school">
          <option value="noStudent">Geen student</option>
          <option value="uGent">Universiteit Gent</option>
          <option value="hoGent">Hogeschool Gent</option>
          <option value="odisee">Technologiecampus</option>
          <option value="artevelde">Arteveldhogeschool</option>
          <option value="luca">Sint-Lucas</option>
          <option value="vlerick">Vlerick Business School</option>
        </select>
        <input type="email" name="signup_email" id="signup_email" placeholder="Emailadres" required pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|'(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*')@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
        <input type="password" name="signup_password" id="signup_password" placeholder="Wachtwoord" required minlength="6">
        
        
        <button id="submitBtn" type="button">Registreren</button>
        
    </form>
    
    <p class="error" id="signup_error"></p>
  </div>
  <script src="../client.js"></script>
</div>
{{> footer }}