.list
    ul, a
        max-width: 350px
        
    ul
        margin: 0 auto
        padding: 30px 0
    li
        margin: 20px 5px
        box-shadow: 4px 4px rgba(0,0,0,0.1)
        background-color: white
        border-radius: 5px

    a
        height: 100px
        max-width: 340px
        display: block
        text-decoration: none
        color: black
        

    img
        display: block
        float: left
        width: 100px
    article
        float: right    

    p
        
        max-width: 235px
        
        font-weight: bold
        text-align: right
        padding-right: 5px
        margin: 12px 0
        
    @media screen and (min-width: 600px)
        ul, a
            max-width: 500px

        a
            height: 150px
            max-width: 690px

        img
            width: 150px

        p
            max-width: 295px
            font-size: 18px
            margin: 22px 10px
