.student
    margin: 12% 0

    ul
        display: flex
        justify-content: center
        flex-wrap: wrap

        list-style-type: none
        margin: 0 5%
        padding: 0

        text-align: center

    li, li a
        display: block

        height: 200px
        width: 200px
        line-height: 200px

        @media screen and (max-width: 600px)
            height: 100px
            width: 100px
            line-height: 100px
            border-radius: 10px

        border-radius: 20px

        background-color: $link-button-color;

    li
        margin: 20px
    
    li a
        color: black
        font-size: 16px
        
        text-decoration: none 
        